<%= render "stories/index_meta" -%>
<%= render "stories/index_header" -%>

<section class="container index">
<h2>Couldn't find that link</h2>
<p>Koal is still in active development, so some links might break. Sorry!</p>
</section>

<%= render "stories/index_footer" -%>
