<footer class="container">
  <p><small>Copyright &copy; Vishnu Gopal. All stories belong to their respective authors. When at all possible, authors have been contacted for permission to reproduce their stories here.</small></p>
</footer>