<header class="flex flex-row mb-6 mt-6">
  <div class="flex-none w-8 m-5">
    <img class="max-w-full max-h-full" src="<%= asset_pack_path 'images/logo.png' %>" />
  </div>
  <div class="flex-1 mt-6">
    <nav><a href="" rel="author">Santos J Romeo</a></nav>
    <h2 class="font-semibold text-3xl">Adventures of Me and Martha Jane by Santos J. Romeo</h2>
  </div>
</header>

<div class="container lg:w-3/5 md:w-4/5 mx-auto px-4 leading-normal text-xl">

  <h3 class="font-semibold text-2xl mb-6">Chapter 1A</h3>

  <p>This story is told as best as I can recall it. It occurred during 1948-49-50 and continued through 1957-58. Over the
    years I have relived these events countless times, carefully reconstructing in my mind many forgotten details and conversations
    -- at one point undergoing hypnosis to recall details or events that lay buried under a lifetime of other thoughts and
    concerns.
  </p>

  <hr />

  <p>During this first period, 1948 to 1950, I ranged in age from 6 to almost 9. In today's culture this makes me an old
    geezer. But today's culture appears to lack the older culture's knowledge for extending its own youth. Thanks to Martha
    Jane, I acquired that knowledge before it became popular to do so; and fortunately, a youthful look runs in my family
    (although we tend to lose our teeth early, for some damn reason). I look 35. I am 5'8" and appear slightly taller, having
    learned early to keep a lean figure. Like most males in my family I looked older early, and younger later. When I was
    10 to 16, I was often mistaken for 12 to 19. Luckily, that trend later reversed itself. In some ways this was an advantage
    early on; but it had its downside, as the reader will see.</p>

  <p>Over the years I've discussed these incidents with professionals (you know, the usual headshrinkers and counselors),
    most of whom were scandalized by my tale. In discussing it, and in reminiscing with parents and relatives about my childhood,
    I managed to gather some facts about me as a boy:</p>

  <p>I was mentally and sexually precocious. Not that I was a young Einstein or a certifiable prodigy, but I was quite bright
    and mentally overactive. From the time I could crawl I was poking my nose into everything I could crawl to. In this regard
    I was difficult to manage; my mother couldn't keep pace with my endless questions, or my habit of peeking under everything
    in sight. When entering a new room or building, the first thing I did was wonder what was in the closets. I used to look
    under the sofa and the chair cushions just to see what was there (I found lots of pennies doing this, and a wedding ring
    lost by a visiting aunt). I also loved listening to 78rpm records on Mom's then-new Philco tabletop radio-phonograph.
    The Philco was on several occasions a source of wonderment to my Mom and relatives -- whenever they brought me a child's
    record, I would set it aside untouched and start playing a symphony (Dvorak's Ninth, the William Tell Overture, and The
    NutCracker Ballet were my favorites), or the Peggy Lee album that had her sultry "Golden Earrings" on it. I listened
    to Tex Ritter platters until I wore their shiny black 78rpm waxed surfaces gray and had to ask for replacements. I knew
    more about the Philco than Mom did, once producing for her a crayon drawing of how the old vacuum tube "tuning eye" worked.
    My hearing was well developed: I could tell when the steel-tipped phono needle was beginning to wear before anyone else
    could hear the difference, and I knew how to change the needle myself -- something my mother was never able to figure
    out. I'm also told that I was a virtuoso at finding my way into forbidden nooks and corners that adults considered inaccessible
    by any means conceivable to man.</p>

  <p>Before I started grammar school I would read the morning paper to Mom while she fixed breakfast. Reading was something
    I picked up from my elderly godfather, who every Sunday read the comics to me while pointing at each word as he read.
    An Italian immigrant who never finished grammar school, he was a slow reader who always read that way, his index finger
    leading him word by word across a page. The first time he read to me I was curious about how the printed letters corresponded
    to what he said aloud, so each time he went through the comics with me I asked him to break down the words he pointed
    to. Soon I had him breaking down the syllables in the words until I learned to put words together on my own. The first
    printed phrase I could read on my own was "You betchum, Red Ryder!," a phrase I used until everyone around me grew sick
    of it. My teacher and godfather was also my father's uncle; I knew him as Uncle Johnny. My great-aunt Frances, Uncle
    Johnny's wife and my godmother, once caught me in her back yard trying to lift a heavy old cast iron Underwood typewriter
    that someone had abandoned. I was barely six then, and the ancient 1920's vintage machine probably weighed more than
    I did. Aunt Frances wanted me to throw it away, but I insisted on keeping it. I cradled it patiently on my lap the day
    I found it while Aunt Frances drove me back home to Mom. As she drove, Aunt Frances kept glancing my way, amazed that
    anyone would want such a huge piece of junk. But the old machine's feel and construction and the faded, ornate "Underwood"
    logo fascinated me, and did so for years.</p>

  <p>Quickly and easily bored, I drew my own comic books (mostly stick-men and outer space battles). I once filled the apartment
    with acrid smoke and ruined a cooking pot trying to manufacture my own crayons -- the odor made Mom sick for days, and
    it took weeks for the stench of paraffin to fade. These and other feats of my daring and heedless youth, along with my
    obsession with getting the old black Underwood working again, prompted most of my stodgy family to consider me a holy
    terror. They labeled my behavior as weird and inscrutable.</p>

  <p>Most of these activities were the result of prolonged selfisolation and boredom. I was as impatient with adults as they
    were with me. They addressed me as if either they or I were idiots, often mumbling among themselves as if they didn't
    think I understood what they were talking about (some of them knew that I knew, so they would mumble in Italian -- which
    of course I didn't understand and which infuriated me!). They usually answered my questions with religious myth, or fantasy,
    or old wives' tales, none of which I accepted, especially the quaint tripe about storks delivering babies and women getting
    big bellies from eating too many popsicles. I soon learned that adults -- especially my overly religious mother -- could
    not be trusted. I became emotionally and intellectually estranged from them at a very early age, probably around age
    four. Rather than ask questions, I did my own investigating. This often led me into trouble: I once jammed my arm into
    the ancient Westinghouse laundry machine Mom had in the kitchen corner, the kind with a mechanized feed-by-hand rinser-wringer
    attached to the top of the washtub. The thick rubber rollers on this machine happened to be engaged at the time, and
    the rollers pulled one of my arms through the wringer, threatening to squeeze the rest of me along with it. My mother
    heard me yelling, ran into the kitchen, smacked the roller release lever, and rescued me.</p>

  <p>Unfortunately I learned absolutely nothing from this incident. I kept right on distrusting the advice of any and all
    elders and continued to snoop, probe, and experiment. My active spirits were so unpredictable that my mother arranged
    for rest on weekends by sending me out of the house to spend time with my grandparents and godparents. I gave this Puritanical
    crowd the same case of the heebie-jeebies, so they placated me with plenty of money for movies, comics, magazines, and
    whatever else would keep me occupied in a corner or otherwise out of their hair.</p>

  <p>I was not mean-spirited or destructive. I considered other kids to be mean, dense, and often brutal. My feelings were
    easily hurt by name calling and arm punching. I had a nauseating fear of violence, whether directed at me or at anyone
    else. Yet physically I was fairly muscular and aggressive, tending to spend my time in risky games such as purposely
    dashing back and forth across Lauderdale Street, the 6-lane, heavily trafficked main boulevard that ran through our project.
    Early on, I conducted my own far flung explorations of nearby downtown Memphis without the slightest idea how to find
    my way home. I once wandered around the downtown Memphis waterfront until I truly got lost; I didn't find my way back
    until 8:30 that night. On returning home I found my Mom had called every relative in sight; five of them were pacing
    around our living room talking with some cops. I casually entered the front door and walked across the room with a carefree
    "Hi, folks!" and everyone immediately descended upon me with yells, threats, moans and tears of consternation. And though
    I knew this would be the result if I ever wandered again, I wandered anyway -- but not without first studying a map of
    the city and learning all the routes of the city bus lines, not so I would never again get lost (I did on several more
    occasions), but so I could find my way back in time to avoid their hysteria.</p>

  <p>My neighborhood was a Federal housing project. But It was nothing like modern projects, so it's difficult to describe.
    The place was in downtown Memphis, Tennessee and was built in the 1930's to house retired veterans, their widows and
    children, and government employees needing housing. World War II made this housing available to war widows, disabled
    vets, and military dependents. The rent was $30 a month. In the 1940's this was still a hefty sum for a widow or disabled
    vet. The housing staff maintained the area antiseptically inside and out. Housing staff inspected apartments every 30
    days to make certain the tenants kept them maintained. The project consisted mostly of rows of small, red brick, single
    level housing units with four to six 1-bedroom apartments each. These single floor buildings extended 6-by-8 city blocks,
    with the west end bounded by a line of larger four story buildings with bigger apartments. Each of the onebedroom apartments
    had its own small backyard, which some tenants equipped with picket fences or even flower and vegetable gardens. The
    grounds were webbed with sidewalks lined with trees. The view from our living room window was of a large public lawn
    with thick patches of shrubs, and benches here and there. The lawn extended for about half a block east to Lauderdale
    Street, a major crosstown boulevard that sliced through the middle of the project. Many who are familiar with the life
    of Elvis Presley will recognize this project near downtown Memphis as the Lauderdale Courts, where Elvis lived during
    the early 1950's, at roughly the same time I was there.</p>

  <p>In the late 1950's, a few years after my mother and my new stepfather moved out of the neighborhood to suburbia, the
    Feds handed the project over to the state. Housing for military and government people had been moved into the 'burbs,
    so the project became tenanted by state welfare recipients. In the 1960's the project was turned over to the county and
    city, at which point it was populated only by the homeless, the chronically unemployed, and those living strictly on
    the local dole. By that time it had decayed into a crusty slum not at all like the well kept, flowered neighborhood I
    remembered.
  </p>

  <p>My mother was a World War II widow. In some ways this contributed to my early feelings of isolation from her. I distinctly
    recall receiving from her the impression that, since my father's death in combat earning a Silver Star in the B-17 and
    B-24 battles over Europe, I had been a great burden to her (there was more to this story than his death in the war, but
    that's another tale). Certainly, my Mom being suddenly left alone in the Lauderdale Courts to raise me and my younger
    sister could have had this effect on her. She never openly voiced any of this, but I clearly remember having received
    this "message" from her in many subtle ways. I had a sister almost two years younger. The two of us in that small apartment
    were too much for Mom; so it happened that by the time I was 4 or 5 my sister Ann wasn't around often, having been taken
    under the wing of her very large godmother, my deceased father's Aunt Mary, who allowed my sister to spend months at
    a time with her and her husband. My sister wasn't enamored of life in the project, preferring to be thoroughly spoiled
    and pampered by a doting godmother who did her best to play the role, usually to excess). Sis, whom we called Miss Priss,
    would stay at our apartment for a while, then ask to stay at her godmother's for prolonged periods, and by the time my
    sister was 12 or so she practically moved in with her semi-permanently. This same godmother was also our great-Aunt Mary.
    I seemed to barely get along with this shrill woman, who was also My great-Aunt Frances' sister. Our relationship probably
    survived due only to the fact that great-Aunt Mary had boundless affection for her favorite nephew, my departed father.
    I found the woman too smothering and exacting for comfort.</p>

  <p>So I was left most often with Mom, whom I didn't trust. I had the feeling I was in her way. She was attractive and quiet,
    but a sad and moody woman, usually too tired or worried to spend much time with me. I can't fault her; she married too
    young, got caught up in the tragedy of the War, and was simply doing her best to cope. With my sister usually away and
    with most of the kids in the project being too roughneck for my taste, I was left pretty much to myself at an early age.
    Very likely this attitude caused me to leave home later, at 18, to strike out on my own.</p>

  <p>The single bright spot was the family next door. Another war widow lived there with her two daughters. This woman and
    my mother became close friends, a relationship that continues to this day even though the lady moved to St. Louis years
    ago. Her oldest daughter was a tall, attractive, brunette young woman nearing her twenties at the time and whom I seldom
    saw. She possessed a highly valued high school diploma, enabling her to find work and help the family financially. In
    the South in the 1940's women could expect only minimal pay at clerical or similar jobs. But she earned enough to keep
    her younger sister in high school. This younger sister was Martha Jane. My earliest clear memories of Martha Jane date
    from the time I was 6 years old and she was 15. I had a very serious crush on her.</p>

  <p>I don't mean that as a six-year-old sexpot I had the kind of crush that centers on sexual fantasy. I don't recall ever
    sitting around fantasizing sexually at that age about Martha Jane. I simply had a strong, unwavering affection for her.
    And she had similar feelings for me -- in later years my mother would say to me, "You know, Martha Jane just LOVED you!
    She thought you were the sweetest, cutest thing on earth! She was the only one who could make you behave."</p>

  <p>It was true. With little instruction or any warning that I can remember, Martha Jane's presence seemed to soothe my
    savage beasts. I would knowingly do nothing -- nothing -- to upset her in any way. Actions that I knew were upsetting
    to others were automatically filtered out of my behavior when I was around her. By the same token, Martha Jane always
    approached me as though I were a person rather than an imbecile. She gave honest, practical, concerned answers to my
    endless questions and she had a fondness for stories, science, movies, and music similar to mine. Obviously my insistent
    questioning and troublesome behavior were attempts on my part to get attention and establish some sort of meaningful
    communication with a mental soul mate. Most of my large family of relatives were half-literate, working- or middle-class
    folks -- nothing immoral about that, and such is the human stuff that gets work done and is often referred to as the
    "salt of the earth." There was no lack of a certain modicum of family attachment and devotion. But they and I lacked,
    shall we say, compatibility and understanding. Martha Jane apparently fulfilled many of those needs and shared my mental
    interests, sometimes sitting for hours telling me stories or reading to me or simply listening. After spending some time
    with her I usually felt serene for a few days. My frequent bouts of instant boredom and hyperactivity were, for a while,
    minimal. Martha Jane reciprocated by treating me with intelligence, playfulness, and a seemingly endless supply of affection.
    And she and I simply seemed to establish an instant rapport together. Adults were boring and stultifying: she never was.
    She never raised her voice or hand to me, nor did she ever have reason to.</p>

  <p>At 15, she was a sunny faced, fairly short, trim teenager with a very poised manner and auburn hair that was so light
    it often appeared blonde. She usually wore delicate horn-rimmed glasses. Her hair was medium length and usually frizzy
    (I called it fuzzy-cute) rather than long and wavy like most women and girls I knew. She had strong eyes that appeared
    alternately hazel or bright gray green, depending on the light and on her mood. She wore very sparse makeup, and had
    a soft musical voice that I found hypnotic. Pugnosed, a little delicate and with a bright face that hinted of a few tiny
    freckles, she was the typically pretty, early 50's teen. She also had an obvious West Tennessee Southern twang, which
    her older sister Evelyn didn't seem to have.</p>

  <p>(* P.S.: In later years I became an accomplished astrologer, and eventually astrology combined with my computer skills.
    Astrologically I recalculated her birthdate, which I had forgotten over the years. Martha Jane was a Virgo, born September
    9, 1933. I later found out that this birthdate was correct. But I hope I never again have to do the work required to
    figure this out!)</p>

  <p>Martha Jane, though she was around my mom's place quite often, didn't spend all of her time with me. She was an avid
    student. At that time, poor kids who wanted to get anywhere in life -- especially to move out of Federal housing projects
    -- had to get through high school, or else! It was that simple. We would usually see each other on our shared front porch
    if we happened to be entering or leaving our apartments together. She would greet me out front and spend a while talking
    to me there, and we'd go on our way. It was always a pleasant exchange, though today I remember little of what was said.
    I do remember that she would often hug me, kiss my nose, let me give her a kiss, or in some other way express herself
    affectionately and attentively to me. Sometimes she visited my mother for an afternoon. They would sit in our small kitchen
    and chat over tea or coffee while I played elsewhere in the apartment.</p>

  <p>My earliest memory of Martha Jane must have dated from the time I was barely 5 years old. I was sitting in a neighborhood
    movie house, watching Judy Garland in "Meet Me In St. Louis". It must have been winter, as I and another adult and Martha
    Jane, who sat on my right, were wearing overcoats. I remember looking up at her in the dark as she laughed at the movie,
    and I thought she was very friendly, bright, and likable, much like Judy Garland but prettier.</p>

  <p>Martha Jane and I did not spend time alone together until late in my 6th year, when my widowed Mom began dating the
    man who eventually became my stepfather. This started in late 1948. Mom and my future stepdad didn't date often, since
    they saw each other regularly during the week when he stopped by for a quick lunch or dinner or when she did her grocery
    shopping at the supermarket on the corner of Lauderdale Street. My future stepdad was manager/owner of the place, with
    others in his family. They dated only every few weeks or so, very informally. It was some years before they became a
    serious couple; and as staunch conservative Catholics, they had a long and leisurely courtship that continued for years.
    My mom's first round at marriage had left her disappointed to the point of shell-shock; she took her sweet time about
    getting hitched again. When she did have a dress-up date, Mom engaged a sitter for me.</p>

  <p>Originally my sitter was my maternal grandmother or one of my mother's younger sisters. But grandma moved to the distant
    'burbs and my two aunts, Martha and Yvonne, found husbands. My mother could only occasionally afford to pay a babysitter,
    and she refused to accept as little as a dollar or two from my stepdad-to-be when baby-sit money was sparse (now I know
    where I got most of that independent streak of mine! It was her own independence that kept her in the project for so
    long. After my father's death she was too embarrassed to accept help and was determined to make life work on her own.
    Unfortunately the right to that streak wasn't looked upon so favorably in my case).</p>

  <p>And Martha Jane, who was such a frequent visitor to our apartment, recognized only too well that my mom would never
    accept baby-sit money from her. So it turned out that my sitter most of the time was Martha Jane, who offered her services
    freely. My Mom tried slipping her a bill or two now and then, but Martha Jane would have none if it. "You don't have
    to PAY me to stay with him," Martha Jane would insist. "I love Speedy!"</p>

  <p>This brings me to my nickname: "Speedy". Why I found this name so embarrassing, even then, is a mystery to me. But I
    came to be known as "Speedy." My other nicknames were Mickey (from my godmother) and Butch (from my paternal grandmother
    Rose). Where the name Speedy came from has many myths behind it, but most people say it had a lot to do with the legendary
    speed with which I ran away when caught misbehaving. Martha Jane addressed me by Speedy for a short time, but then she
    stuck with my proper name, Steven. Being called Speedy by most people greatly annoyed me, but I didn't seem to mind when
    Martha Jane did it. I have no explanation for making an exception of her when it came to my otherwise despised nickname.
    She said she liked both names, and that was OK by me.</p>

  <p>During these infrequent baby-sit sessions she would usually study. Sometimes she would do a little cleaning or straightening,
    purely out of a desire to help my Mom, and I would always help. I felt "right" with whatever we did together. I recall
    the one time that I upset her during a baby-sit session: I was in our small bedroom. There was a black telephone set
    in the room and I wanted desperately to find out what happened when I dialed 111. The telephone directory listed it as
    a free public information number. So I picked up the phone and dialed 111. An operator answered.</p>

  <p>"Number, please?" said the voice on the other end.</p>

  <p>"Oh," I said nonchalantly, "I don't want a number. I just wanna talk to you."</p>

  <p>Martha Jane must have heard this ridiculous conversation, because right away I heard her cry out, "Speedy? What are
    you doing in there?" She rushed into the room and stood in the doorway, stunned and shocked. "What are you DOING?"</p>

  <p>I was so alarmed that I immediately said into the phone, "I'm sorry, I didn't mean to bother you, Miss," and hung up.
    Martha Jane quickly came to me and took the phone away. I told her I had only called 111 and was talking to the operator.
    She looked at me blankly, and then couldn't help but giggling. "You did WHAT?" All I could do was look up at her (she
    was not that tall, but she was then taller than I). I took the hem of her skirt and scrunched up against her; I was really
    afraid I had offended her. I kept saying I was sorry. She knelt down to my level and patiently explained to me about
    telephone operators and how the poor overworked gals got so many crank calls. She offered, "I'll call up one of my girlfriends
    sometime, okay? And you and I can talk to her together and you'll see what it's like." I said it would be fine, and I
    hugged her and apologized again and again, and she accepted and hugged me back and got me ready for bed.</p>
</div>

<footer class="container mx-auto px-4 mb-24 mt-6 border-grey-darkest pt-6 border-t">
  <nav>
    <a href="">Previous Chapter</a> | <a href="">Next Chapter</a>
  </nav>
</footer>